__pycache__/
.mypy_cache/
.venv/
dist/
build/
kaldi_speech/*.so
*.egg-info/
kaldiroot
.vscode/
download/
debian/rhasspy-asr-kaldi*

rhasspyasr_kaldi/kaldi/
rhasspyasr_kaldi/estimate-ngram
rhasspyasr_kaldi/libmitlm.so.1
rhasspyasr_kaldi/phonetisaurus-apply
rhasspyasr_kaldi/phonetisaurus-g2pfst
rhasspyasr_kaldi/libfst.so.13
rhasspyasr_kaldi/libfstfar.so.13
rhasspyasr_kaldi/libfstngram.so.13